<form action="/task/add" method="post">
<div>
<label for="title">Escribe un titulo:</label>
<input type="text" name="title" placeholder="Title">
</div>

<div>
<label for="description">Agrega una descripcion:</label>
<textarea name="description" placeholder="Description"></textarea>
</div>

<button>Agregar</button>

</form>