
<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>Add Task</h3>

<form action="/task/add" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Escribe un titulo:</label><br>
        <input type="text" class="form-control" name="title" placeholder="Title">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Agrega una descripcion:</label>
        <textarea name="description" class="form-control" placeholder="Description"></textarea>
    </div>

    <button class="btn btn-success">Agregar</button>

</form>

</div>
